.flexRowContent--deparment__results--container {
  width: 95%;
  margin: 0 auto 20px;
}
.flexRow--quick-view__modal {
  padding: 10px;
}

@media (max-width: 1024px) {
  .flexRowContent--deparment__results--container{
    flex-direction: column;
    align-items: center;
  }
}