/* ---------------------------------------- desktop */
/* ------------------------------- section-two */

.sliderTrack--desktop__home--section-two {
  width: 550% !important;
  margin: 0;
}
.slide--desktop__home--section-two {
  width: 11.55% !important;
}
.slideChildrenContainer--desktop__home--section-two {
  justify-content: start;
}

.paginationDotsContainer--desktop__home--section-two {
  transform: translateY(30px);
}
.paginationDot--desktop__home--section-two--isActive {
  background-color: black;
}

/* ----------------------- product list */
.sliderLayoutContainer--products__list--shelf {
  margin: 40px auto;
  max-width: 1120px;
}
.sliderTrack--products__list--shelf {
  align-items: center;
}
.paginationDotsContainer--products__list--shelf {
  transform: translateY(30px);
}
.paginationDot--products__list--shelf--isActive {
  background-color: black;
}

/* ----------------------- categories */
.bullet__item--link{
  text-decoration: none;
}
.bullet__item--title{
  color: black;
  text-align: center;
}
.paginationDotsContainer {
  transform: translateY(30px);
}
.paginationDot--isActive {
  background-color: black;
}

/* ----------------------------------- mobile */
/* -------------- section two */
.sliderLayoutContainer--mobile__home--section-two {
  max-width: 90%;
  margin: 0 auto;
  height: 350px;
}
.paginationDotsContainer--mobile__home--section-two {
  transform: translateY(30px);
}
.paginationDot--mobile__home--section-two--isActive {
  background-color: black;
}
.slide--mobile__home--section-two {
  width: 100% !important;
}
.sliderTrackContainer--mobile__home--section-two {
  height: 350px;
}
.sliderTrack--mobile__home--section-two {
  height: 100%;
}
/* -------------- section three */
.slideChildrenContainer--home__mobile--section-three-slider {
  justify-content: start;
}
.paginationDotsContainer--home__mobile--section-three-slider {
  transform: translateY(25px);
}
.paginationDot--home__mobile--section-three-slider--isActive {
  background-color: black;
}
