.paragraph--section__one-text-title {
  color: white;
  font-size: 33px;
  margin: 0;
}
.paragraph--section__one-text-description {
  color: white;
  font-size: 15.5px;
}
/* ----------------- section two */
.paragraph--home__desktop--section-two-title {
  font-weight: bold;
  font-size: 23px;
  color: rgba(0, 0, 0, 0.763);
  margin-top: 10px;
}
.paragraph--home__section-two-img-one-title {
  color: white;
  margin: 0;
  font-weight: bold;
  font-size: 15px;
}
.paragraph--home__section-two-img-one-description {
  color: white;
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}
.paragraph--home__section-two-img-one-description-two {
  color: white;
}

.paragraph--home__section-two-img-two-title {
  color: rgba(0, 0, 0, 0.74);
  margin: 0;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
}
.paragraph--home__section-two-img-two-description {
  color: rgba(0, 0, 0, 0.74);
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 40px;
}
.paragraph--home__section-two-img-three-title {
  color: rgba(0, 0, 0, 0.74);
  margin: 0;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
}
.paragraph--home__section-two-img-three-description {
  color: rgba(0, 0, 0, 0.74);
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 40px;
}
/* ----------------- section three */
.paragraph--section__three-title {
  font-weight: bold;
  font-size: 23px;
  color: rgba(0, 0, 0, 0.763);
  margin-top: 10px;
}
.paragraph--left__top-title {
  color: white;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 0;
  margin-left: 25px;
}
.paragraph--left__top-description {
  color: white;
  font-size: 14px;
  margin-top: 0;
  margin-left: 25px;
}
.paragraph--title__product-one {
  margin: 0;
  margin-top: 5px;
  font-size: 12px;
}
.paragraph--reference__product-one {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  margin-top: 5px;
}
.paragraph--price__product-one {
  margin: 0;
  color: gray;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 15px;
}
.paragraph--title__product-two {
  margin: 0;
  margin-top: 5px;
  font-size: 12px;
}
.paragraph--reference__product-two {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  margin-top: 5px;
}
.paragraph--price__product-two {
  margin: 0;
  color: gray;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 15px;
}
.paragraph--title__product-three {
  margin: 0;
  margin-top: 5px;
  font-size: 12px;
}
.paragraph--reference__product-three {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  margin-top: 5px;
}
.paragraph--price__product-three {
  margin: 0;
  color: gray;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 15px;
}

/* ----------------- section product list */
.container--home__product--list-title {
  justify-content: center;
}
.paragraph--home__product--list-title {
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin: 10px 0;
}

/* ----------------------------------------------------- mobile */
/* ----------------------- section one */
.paragraph--home__mobile--section-one-title {
  color: white;
  font-size: 30px;
  margin: 0;
}
.paragraph--home__mobile--section-one-description {
  color: white;
  font-size: 13px;
}

/* ----------------------- section two */
.paragraph--home__mobile--section-two-title {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.763);
}

/* ----------------------- section three */
.paragraph--home__mobile--section-three-title {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.763);
  font-size: 20px;
  margin: 10px 0;
}
.paragraph--mobile__section--three-subtitle {
  margin: 0;
  font-weight: bold;
  color: #2f353d;
}
.paragraph--mobile__section--three-description {
  margin: 0;
  font-size: 13px;
}
.paragraph--home__mobile--section-three-product-description {
  margin: 0;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 10px;
}
.paragraph--home__mobile--section-three-product-brand {
  margin: 0;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 12px;
}
.paragraph--home__mobile--section-three-product-since {
  margin: 0;
  color: gray;
  font-size: 14px;
}
.paragraph--home__mobile--section-three-product-price {
  margin: 0;
  padding-left: 10px;
  color: gray;
  font-size: 12px;
}
