/* ------------ section one */
.flexRowContent--desktop__home--section-one {
  position: relative;
  height: 30.5rem;
}
.flexRow--home__section-one-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.flexRowContent--home__section-one-text {
  height: auto;
  padding-left: 6rem;
  width: 33rem;
  margin-top: 40px;
}
.flexCol--home__section-one-text-col {
  height: auto;
  background-color: rgba(0, 0, 0, 0.756);
  padding: 2rem;
}
.flexCol--home__section-one-text-col
  :global(.vtex-store-link-0-x-buttonLink--section__one-text-button) {
  background-color: #2d75c7;
  border: 0.1px solid rgba(255, 255, 255, 0.431);
  font-size: 10px;
  letter-spacing: 1px;
  border-radius: 0;
}
/* ------------ section two */
.flexRow--home__desktop--section-two-title {
  padding: 0 30px;
}
.flexRowContent--home__desktop--section-two-title {
  max-width: 1120px;
  margin: 0 auto;
}
.flexCol--desktop__home--section-two-col-slider-one {
  position: relative;
  height: 450px;
}
.flexRow--desktop__home--section-two-slider-one-container-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.flexCol--desktop__home--section-two-slider-one-container-text-col {
  padding-left: 20px;
}

.flexCol--desktop__home--section-two-col-slider-two {
  position: relative;
  height: 450px;
}
.flexRow--desktop__home--section-two-slider-two-container-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.flexCol--desktop__home--section-two-slider-two-container-text-col {
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.726);
}
.flexCol--desktop__home--section-two-col-slider-three {
  position: relative;
  height: 450px;
}
.flexRow--desktop__home--section-two-slider-three-container-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.flexCol--desktop__home--section-two-slider-three-container-text-col {
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.726);
}

/* -------------------------------- section three */
.flexRow--home__section--three-title {
  padding-left: 30px;
  margin-top: 30px;
}
.flexRowContent--section-three--cards {
  padding: 0 30px;
}
.flexRow--side__left--top {
  background-color: #a46900;
  padding-bottom: 70px;
}
.flexColChild--side__left--top {
  padding: 0;
}
.flexColChild--side__left--card-product-one {
  padding: 0;
}
.flexRowContent--card__product-one-image {
  background-color: #f2f5f9;
}
.flexColChild--product__one-description-container {
  padding: 0;
}
.flexColChild--side__left--card-product-two {
  padding: 0;
}
.flexRowContent--card__product-two-image {
  background-color: #f2f5f9;
  height: 230px;
}
.flexColChild--product__two-description-container {
  padding: 0;
}
.flexRowContent--card__product-three-image {
  background-color: #f2f5f9;
  height: 435px;
}

/* -------------------------------- section product list */
.flexRow--home__section--product-list-title {
  margin: 30px 0;
  background-color: black;
}
