.footerLayoutSpacer {
  background-color: black;
}
.footerLayout--footer {
  background-color: black;
  padding: 0 40px;
  margin-top: 30px;
}

/* Social */
.socialNetworksContainer--social-networks {
  width: auto;
  justify-content: flex-end;
  margin-right: 80px;
  height: 100%;
  align-items: center;
}

/* ---------------------------------- mobile */
.footerLayoutSpacer--footer-mobile {
  margin-top: 40px;
}
.socialNetworksContainer--footer-mobile__social-networks{
  justify-content: center;
}