.flexRow--footer-menu {
  padding: 40px 80px 30px;
  max-width: 1120px;
  margin: 0 auto;
}
.flexColChild--footer__menu-dealer {
  height: 20% !important;
}
.flexColChild--footer__menu-shopping {
  width: 200px;
}
.flexColChild--footer__menu-community {
  height: 20% !important;
}
.flexColChild--footer__menu-news {
  height: 20% !important;
}

/* Footer social */
.flexRow--footer-social {
  max-width: 1120px;
  margin: 0 auto;
}
.flexCol--footer__container-social {
  margin: 0 30px;
  border-bottom: 0.1px solid grey;
  padding: 30px 0;
}
.flexRowContent--footer__social-title {
  padding-left: 75%;
}

/* privacy */
.flexRow--footer-privacy {
  max-width: 1120px;
  margin: 0 auto;
}
.flexCol--footer__container-privacy {
  padding: 40px 80px 20px;
}
.flexRowContent--footer__container-privacy-two {
  justify-content: flex-end;
}
.flexRowContent--footer__container-privacy-one {
  padding-right: 20%;
}
