.flexRow--footer-menu {
  padding: 40px 0;
  margin: 0 40px;
}
.flexColChild--footer__menu-dealer {
  height: 20% !important;
}
.flexColChild--footer__menu-community {
  height: 20% !important;
}
.flexColChild--footer__menu-news {
  height: 20% !important;
}

/* Footer social */
.flexCol--footer__container-social {
  margin: 0 40px;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
}
.flexRowContent--footer__social-title {
  padding-left: 60%;
}

/* privacy */
.flexCol--footer__container-privacy {
  padding: 30px 40px;
}
.flexRowContent--footer__container-privacy-two {
  justify-content: flex-end;
}
