.paragraph--ubication {
  color: white;
}
.paragraph--footer-corporation {
  margin: 0;
  color: gray;
  background-color: white;
  font-size: 10px;
  padding: 0 5px;
  margin-top: 5px;
}
.container--footer-corporation {
  justify-content: flex-end;
}
