.styledLinkContainer--footer__menu-dealer-menu-item {
  margin: 0;
}
.styledLink--footer__menu-dealer-menu-item {
  color: white;
  font-size: 11px;
}
.styledLinkContainer--footer__menu-shopping-menu-item {
  margin: 0;
}
.styledLinkContent--footer__menu-shopping-menu-item {
  white-space: inherit;
}
.styledLink--footer__menu-shopping-menu-item {
  color: white;
  font-size: 11px;
  line-height: 18px;
}
.styledLinkContainer--footer__menu-community-menu-item {
  margin: 0;
}
.styledLink--footer__menu-community-menu-item {
  color: white;
  font-size: 11px;
  line-height: 18px;
}
.styledLinkContainer--footer__menu-news-menu-item {
  margin: 0;
}
.styledLink--footer__menu-news-menu-item {
  color: white;
  font-size: 11px;
  line-height: 18px;
}

/* container Social */
.styledLinkContainer--footer__social-menu-item {
  margin: 0;
}
.styledLinkContainer--footer__social-menu-item-2 {
  margin: 0;
  width: 100%;
}
.menuContainer--footer__container-products-and-solutions {
  justify-content: flex-end;
  margin-right: 20px;
}
.menuContainerNav--contact {
  width: auto !important;
}
.styledLinkContent--footer__social-menu-item {
  color: white;
  font-size: 11px;
}
.styledLinkContent--footer__social-menu-item-2 {
  color: white;
  font-size: 11px;
}

/* container privacy */
.menuContainer--footer__container-privacy {
  justify-content: flex-start;
  padding-right: 10px;
}
.styledLinkContainer--footer-privacy {
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}
.styledLinkContainer--footer-brand {
  margin: 0;
  padding: 0;
}
.styledLinkContent--footer-privacy {
  color: white;
  font-size: 11px;
  font-weight: lighter;
}
.styledLinkContent--footer-brand {
  color: white;
  font-size: 11px;
  font-weight: lighter;
}
/* -------------------------- mobile  */
.styledLink--footer-mobile__menu-item{
  color: white;
  font-size: 14px;
  font-weight: lighter;
}

.menuContainer--footer-mobile__contact-top{
  justify-content: center;
}

.styledLinkContent--footer-mobile__menu-item-polices{
  color: white;
  font-size: 12px;
}
.styledLinkContent--footer-mobile__menu-item-polices{
  display: flex;
  justify-content: center;
}