.newsletterForm--footer-newsletter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.emailInputContainer {
  width: 60%;
}


/* ---------------------------------------------------- mobile */
.newsletterForm--footer-mobile__disclosure-item{
  display: flex;
  justify-content: center;
}